body{
  position: relative;
  .layout-main{
    height:100%;
    box-sizing: border-box;
    .header{
      display:flex;
      background: #fff;
      .header-logo{
        width: 200px
      }
      .top-nav-item{
        height:64px;
        line-height: 64px;
      }
    }
    .content{
      position: absolute;
      width:100%;
      bottom: 69px;
      top: 64px;
      overflow-y: auto;
    }
    .footer{
      position: absolute;
      text-align: center;
      bottom:0;
      width:100%;
    }
  }
}
